.DS_Store
*.DS_Store
.idea/
.idea/*
.fabfile
__pychache__/
*.pyc
data/media/**/*
data/snapshot/*
data/logs/*.log
*/**/migrations/*
*.log
tmp/*
fabfile.py
Procfile
fabtpls
pytest.ini
**/test_settings.py
.pytest_cache
.python-version
Pipfile
local.py
db.sqlite3
.vscode
.history
.qiniu*
auto_test_api/report/*
celerybeat.pid
cookie.txt
data/media/*
